@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&family=Roboto:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
}
h1,h2,h3,h4{
    margin: 0;
}
body{
    margin: 0;
    background-color: #23242d;
    font-family: 'Poppins';
}
#root{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 12px;
}
#container{
    max-width: 317px;
    background-color: #1b1a21;
    color: white;
    border-radius: 10px 10px 10px 10px;
}
#profile_pic{

}
#content_box{

}
.content_div{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#des{
    color: #c99f81;
    font-weight: 200;
}
.content_div > a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
.content_div2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.content_div2>a{
    background-color: white;
    border-radius: 6px;
    width: 115px;
    height: 34px;
    margin:0px 10px ;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
#linken{
    background-color:#5093E2;
    color: white;   
    cursor: pointer;
}
#about_div{
    margin-top: 2rem;
    padding: 0px 30px;
}
#my{
    margin: 0.9rem;
}
#about_div > p{
    font-size: 0.7rem;
    font-weight: 200;
    margin : 0;
}
#last_div{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #161619;
    padding: 1rem 0;
    border-radius: 0px 0px 10px 10px;
}
#last_div > img {
    cursor: pointer;
}
